
.ui-menu {
  background-color: $color-fon;
  position: relative;
  z-index: 200;
  overflow: hidden;
  overflow-y: auto;
  box-shadow: $color-shadow-active;
  width: auto;
  max-height: 250px;
  margin-top: 4px;
  transition-property: height, width, margin-top;
  transition-duration: 400ms;
}
