.ui-select {
    position: relative;
    width: 100%;
    float: left;
    &__menu {
        top: 90px;
        margin: 0;
        border: 0;
        padding: 0;
        max-height: 200px;
        width: 100%;
        color: #2b2b2b;
        font-size: 14px;
        position: absolute;
        background-color: #ffffff;
        display: block;
        float: right;
        z-index: 100;
        box-shadow: $color-shadow-active;
        left: 3px;
        overflow-y: none;
        overflow-x: auto;
    }
    &__option {
        position: relative;
        border: 0;
        padding: 0px 30px;
        margin: 0;
        list-style-type: none;
        cursor: pointer;
        height: 40px;
        width: auto;
        font-size: 14px;
        line-height: 38px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #202020;
        &:hover {
            background-color: #f3f3f3;
        }
    }
    &__group {
        position: relative;
        border: 0;
        padding: 0 20px;
        margin: 0;
        list-style-type: none;
        height: 40px;
        width: auto;
        font-size: 15px;
        line-height: 41px;
        color: #7d7d7d;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
    }
    &__check {
        color: $color-links;
        font-weight: 600;
        height: 100%;
        margin-left: 5px;
        width: 20px;
    }
    &__arrow {
        position: absolute;
        float: right;
        right: 8px;
        top: 35px;
        font-size: 18px;
    }
}