.ui-header {
    display: block;
    font-family: "OpenSans";
    font-weight: 600;
    line-height: 32px;
    color: $color-text-header;
    &_1 {
        font-size: 26px;
        margin: 20px 0 12px;
    }
    &_2 {
        font-size: 22px;
        margin: 18px 0 10px;
    }
    &_3 {
        font-size: 18px;
        margin: 16px 0 8px;
    }
    &_4 {
        font-size: 16px;
        margin: 14px 0 6px;
    }
    &_5 {
        font-size: 14px;
        margin: 12px 0 4px;
    }
    &_6 {
        font-size: 11px;
        margin: 10px 0 2px;
    }
}