.ui-modal-window {
    width: 100%;
    background-color: $color-fon;
    margin: 25px 0 25px 0;
    &__header {
        padding: 10px;
        width: 100%;
        margin-bottom: 20px;
    }
    &__button{
      float: left;
      margin-right: 25px;
    }
    &__message{
      color: #5c5c5c;
      margin-top: 14px;
    }
}
