.ui-modal-window {
    width: auto;
    background-color: $color-fon;
    padding: 25px;
    overflow: hidden;
    &__header {
        display: block;
        overflow: hidden;
        height: 60px;
        width: 85%;
        line-height: 60px;
        font-size: 18px;
        font-weight: 600;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0 0 20px 0;
        color: $color-text-header;
        &__button {
            float: right;
            position: absolute;
            right: 17px;
            left: auto;
            top: 30px;
        }
    }
    &__content {
        display: block;
        overflow: hidden;
        height: auto;
        width: 100%;
        &__img {
            height: auto;
            width: 100%;
            margin-bottom: 20px;
        }
    }
    &__footer {
        display: block;
        overflow: hidden;
        height: auto;
        width: auto;
        margin: 35px 0 0 0;
        float: right;
    }
}