html {
    height: 100%;
    width: 100%
}

body {
    position: relative;
    font-family: "OpenSans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    position: relative;
    display: block;
    padding: 0 10px;
    margin: 0 auto;
}

.row {
    height: 100%;
    width: auto;
    margin: auto; // display: table;
    display: block;
    position: relative;
    overflow: visible;
}

.col_1,
.col-nbook_1,
.col-tablet_1,
.col-phone_1,
.col_2,
.col-nbook_2,
.col-tablet_2,
.col-phone_2,
.col_3,
.col-nbook_3,
.col-tablet_3,
.col-phone_3,
.col_4,
.col-nbook_4,
.col-tablet_4,
.col-phone_4,
.col_5,
.col-nbook_5,
.col-tablet_5,
.col-phone_5,
.col_6,
.col-nbook_6,
.col-tablet_6,
.col-phone_6,
.col_7,
.col-nbook_7,
.col-tablet_7,
.col-phone_7,
.col_8,
.col-nbook_8,
.col-tablet_8,
.col-phone_8,
.col_9,
.col-nbook_9,
.col-tablet_9,
.col-phone_9,
.col_10,
.col-nbook_10,
.col-tablet_10,
.col-phone_10,
.col_11,
.col-nbook_11,
.col-tablet_11,
.col-phone_11,
.col_12,
.col-nbook_12,
.col-tablet_12,
.col-phone_12 {
    position: relative;
    min-height: 1px;
    float: left;
}

.container {
    min-width: 1170px;
    max-width: 1170px;
}

.col_1 {
    width: (100%/12*1);
}

.col_2 {
    width: (100%/12*2);
}

.col_3 {
    width: (100%/12*3);
}

.col_4 {
    width: (100%/12*4);
}

.col_5 {
    width: (100%/12*5);
}

.col_6 {
    width: (100%/12*6);
}

.col_7 {
    width: (100%/12*7);
}

.col_8 {
    width: (100%/12*8);
}

.col_9 {
    width: (100%/12*9);
}

.col_10 {
    width: (100%/12*10);
}

.col_11 {
    width: (100%/12*11);
}

.col_12 {
    width: 100%;
}

.col_offset-0 {
    margin-left: 0;
}

.col_offset-1 {
    margin-left: (100%/12*1);
}

.col_offset-2 {
    margin-left: (100%/12*2);
}

.col_offset-3 {
    margin-left: (100%/12*3);
}

.col_offset-4 {
    margin-left: (100%/12*4);
}

.col_offset-5 {
    margin-left: (100%/12*5);
}

.col_offset-6 {
    margin-left: (100%/12*6);
}

.col_offset-7 {
    margin-left: (100%/12*7);
}

.col_offset-8 {
    margin-left: (100%/12*8);
}

.col_offset-9 {
    margin-left: (100%/12*9);
}

.col_offset-10 {
    margin-left: (100%/12*10);
}

.col_offset-11 {
    margin-left: (100%/12*11);
}

@media (min-width: 990px) and (max-width: 1190px) {
    .container {
        min-width: 970px;
        max-width: 1170px;
    }
    .col-nbook_1 {
        width: (100%/12*1);
    }
    .col-nbook_2 {
        width: (100%/12*2);
    }
    .col-nbook_3 {
        width: (100%/12*3);
    }
    .col-nbook_4 {
        width: (100%/12*4);
    }
    .col-nbook_5 {
        width: (100%/12*5);
    }
    .col-nbook_6 {
        width: (100%/12*6);
    }
    .col-nbook_7 {
        width: (100%/12*7);
    }
    .col-nbook_8 {
        width: (100%/12*8);
    }
    .col-nbook_9 {
        width: (100%/12*9);
    }
    .col-nbook_10 {
        width: (100%/12*10);
    }
    .col-nbook_11 {
        width: (100%/12*11);
    }
    .col-nbook_12 {
        width: 100%;
    }
    .col-nbook_offset-0 {
        margin-left: 0;
    }
    .col-nbook_offset-1 {
        margin-left: (100%/12*1);
    }
    .col-nbook_offset-2 {
        margin-left: (100%/12*2);
    }
    .col-nbook_offset-3 {
        margin-left: (100%/12*3);
    }
    .col-nbook_offset-4 {
        margin-left: (100%/12*4);
    }
    .col-nbook_offset-5 {
        margin-left: (100%/12*5);
    }
    .col-nbook_offset-6 {
        margin-left: (100%/12*6);
    }
    .col-nbook_offset-7 {
        margin-left: (100%/12*7);
    }
    .col-nbook_offset-8 {
        margin-left: (100%/12*8);
    }
    .col-nbook_offset-9 {
        margin-left: (100%/12*9);
    }
    .col-nbook_offset-10 {
        margin-left: (100%/12*10);
    }
    .col-nbook_offset-11 {
        margin-left: (100%/12*11);
    }
}

@media (min-width: 770px) and (max-width: 990px) {
    .container {
        min-width: 750px;
        max-width: 970px;
    }
    .col-tablet_1 {
        width: (100%/12*1);
    }
    .col-tablet_2 {
        width: (100%/12*2);
    }
    .col-tablet_3 {
        width: (100%/12*3);
    }
    .col-tablet_4 {
        width: (100%/12*4);
    }
    .col-tablet_5 {
        width: (100%/12*5);
    }
    .col-tablet_6 {
        width: (100%/12*6);
    }
    .col-tablet_7 {
        width: (100%/12*7);
    }
    .col-tablet_8 {
        width: (100%/12*8);
    }
    .col-tablet_9 {
        width: (100%/12*9);
    }
    .col-tablet_10 {
        width: (100%/12*10);
    }
    .col-tablet_11 {
        width: (100%/12*11);
    }
    .col-tablet_12 {
        width: 100%;
    }
    .col-tablet_offset-0 {
        margin-left: 0;
    }
    .col-tablet_offset-1 {
        margin-left: (100%/12*1);
    }
    .col-tablet_offset-2 {
        margin-left: (100%/12*2);
    }
    .col-tablet_offset-3 {
        margin-left: (100%/12*3);
    }
    .col-tablet_offset-4 {
        margin-left: (100%/12*4);
    }
    .col-tablet_offset-5 {
        margin-left: (100%/12*5);
    }
    .col-tablet_offset-6 {
        margin-left: (100%/12*6);
    }
    .col-tablet_offset-7 {
        margin-left: (100%/12*7);
    }
    .col-tablet_offset-8 {
        margin-left: (100%/12*8);
    }
    .col-tablet_offset-9 {
        margin-left: (100%/12*9);
    }
    .col-tablet_offset-10 {
        margin-left: (100%/12*10);
    }
    .col-tablet_offset-11 {
        margin-left: (100%/12*11);
    }
}

@media (max-width: 770px) {
    .container {
        min-width: 100%;
        max-width: 770;
        box-sizing: border-box;
    }
    .col-phone_1 {
        width: (100%/6*1);
    }
    .col-phone_2 {
        width: (100%/6*2);
    }
    .col-phone_3 {
        width: (100%/6*3);
    }
    .col-phone_4 {
        width: (100%/6*4);
    }
    .col-phone_5 {
        width: (100%/6*5);
    }
    .col-phone_6 {
        width: 100%;
    }
    .col-phone_offset-0 {
        margin-left: 0;
    }
    .col-phone_offset-1 {
        margin-left: (100%/6*1);
    }
    .col-phone_offset-2 {
        margin-left: (100%/6*2);
    }
    .col-phone_offset-3 {
        margin-left: (100%/6*3);
    }
    .col-phone_offset-4 {
        margin-left: (100%/6*4);
    }
    .col-phone_offset-5 {
        margin-left: (100%/6*5);
    }
}