//шрифты
@font-face {
    font-family: "OpenSans";
    src: url("../../assets/fonts/Open_Sans/OpenSans-Regular.ttf");
}

.ui-body {
    margin: 0;
    font-family: "OpenSans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: $color-text;
}

body {
    margin: 0;
}
