.wg-slider-zoom {
    &__slider {
        height: 500px;
    }
    &__slider-navig {
        height: 60px;
        top: -60px;
        background-color: rgba(0, 0, 0, 1);
        opacity: 0.3;
        z-index: 6;
        &:hover {
            opacity: 1;
        }
    }
    &__blind {
        background-color: rgba(0, 0, 0, 1);
    }
    &__button-exit {
        position: absolute;
        z-index: 1000;
        top: 34px;
        right: 34px;
        float: none;
        left: auto;
    }
}