.wg-slider {
    width: auto;
    height: 250px;
    display: block;
    position: relative;
    overflow: hidden;
    text-align: center;
    &__img {
        width: auto;
        display: block;
        position: relative;
        overflow: hidden;
        text-align: center;
        height: 100%;
        margin: auto;
        opacity: 1;
        transition: opacity 0.7s;
        cursor: pointer;
    }
    &__fon {
        filter: blur(5px);
        position: absolute;
        width: 104%;
        height: 104%;
        top: -2%;
        opacity: 0.2;
        left: -2%;
    }
    &__buttons {
        width: 100%;
        position: absolute;
    }
    &__left-button {
        z-index: 2;
        position: absolute;
        left: 0px;
        margin-top: -33px;
    }
    &__right-button {
        z-index: 2;
        position: absolute;
        right: 0px;
        margin-top: -33px;
    }
    &__button_flat {
        background-color: rgba(255, 255, 255, .4)
    }
    &__container {
        height: 100%;
        width: 300%;
        margin-left: -100%;
        float: left;
        position: relative;
        opacity: 1;
    }
    &__frame {
        height: 100%;
        width: 33.33%;
        float: left;
        position: relative;
        overflow: hidden;
        cursor: -moz-zoom-in;
        cursor: -webkit-zoom-in;
        cursor: zoom-in;
    }
    &__menu {
        background-color: rgba(255, 255, 255, .4);
        color: $color-links;
        font-size: $text-size-mini;
        height: 35px;
        width: 100%;
        top: 0px;
        position: absolute;
        z-index: 2;
    }
    &__numeric {
        height: 100%;
        width: auto;
        text-align: center;
        top: 0px;
        position: absolute;
        line-height: 36px;
        padding: 0 25px;
        right: 0;
    }
}