.wg-slider-navig {
    position: relative;
    display: block;
    height: 60px;
    overflow: hidden;
    width: auto;
    &__container {
        position: relative;
        display: block;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    &__slide {
        height: 100%;
        width: auto;
        display: inline-block;
        position: relative;
        margin: 0px 1px;
        overflow: hidden;
        transition: margin-left .5s;
        text-align: center;
        cursor: pointer;
        &:after {
            background-color: $color-links;
            content: "";
            position: absolute;
            bottom: 0px;
            width: 0%;
            height: 3px;
            border-top: 1px solid $color-fon;
            left: 0;
            transition: width 0.5s ease;
        }
        &_active {
            &:after {
                background-color: $color-links;
                content: "";
                position: absolute;
                bottom: 0px;
                width: 100%;
                height: 3px;
                border-top: 1px solid $color-fon;
                left: 0;
                transition: width 0.5s ease;
            }
        }
    }
    &__img {
        height: 100%;
    }
}