.ui-navigation {
    height: 100%;
    width: 280px;
    background-color: $color-fon;
    &__burger {
        color: $color-text-header !important;
        font-size: 21px;
    }
    &__header {
        margin: 10px 0;
        padding-bottom: 20px;
        height: 30px;
        overflow: hidden;
        position: relative;
        &__label {
            height: 24px;
            width: auto;
            position: absolute;
            left: 88px;
            top: 12px;
        }
        &__burger {
            left: 27px;
            display: block;
            position: relative;
        }
    }
    &__unit {
        margin: 10px 0;
        border-top: 1px solid #e7e7e7;
        &__header {
            text-transform: uppercase;
            text-align: left;
            font-size: 13px;
            font-weight: 600;
            margin: 15px 0;
            color: #969696;
            padding: 0 40px;
            letter-spacing: 0.5px;
        }
        &__button {
            display: block;
            text-align: left;
            font-size: 14px;
            margin: 5px 0;
            padding: 0 40px 0 90px;
            height: 40px;
            line-height: 40px;
            text-decoration: none;
            color: $color-description;
            &:hover {
                cursor: pointer;
                background-color: $color-list-hover;
                color: $color-description;
                text-decoration: none;
            }
            &:active {
                color: $color-description;
                background-color: $color-list-active;
                text-decoration: none;
            }
            &:visited {
                color: $color-description;
                text-decoration: none;
            }
            &.router-link-active {
                color: $color-description;
                background-color: $color-list-active;
                text-decoration: none;
                &>.ui-navigation__unit__icon {
                    color: #ce1717;
                }
            }
        }
        &__icon {
            position: absolute;
            font-size: 22px;
            left: 38px;
            color: $color-description;
            height: 30px;
            width: 30px;
            text-align: center;
            border-radius: 50%;
            line-height: 27px;
            margin-top: 5px;
        }
    }
    &__list {
        &__header {
            position: relative;
            height: auto;
            width: 100%;
            overflow: hidden;
            cursor: pointer;
        }
        &__angel {
            color: #b3b3b3 !important;
            position: absolute;
            float: left;
            left: auto;
            right: 35px;
            top: 14px;
            font-size: 21px;
            transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            &-enter {
                transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
            }
            &-enter-active {
                transition: transform .4s ease-in-out;
            }
            &-enter-to {
                transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
            }
        }
        &__angel_tranzit {
            color: #b3b3b3 !important;
            position: absolute;
            float: left;
            left: auto;
            right: 35px;
            top: 14px;
            font-size: 21px;
            transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            &-enter {
                transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
            }
            &-enter-active {
                transition: transform .4s ease-in-out;
            }
            &-enter-to {
                transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
            }
        }
        &__content {
            position: relative;
            height: auto;
            width: 100%;
            overflow: hidden;
            &-enter,
            &-leave-to {
                height: 0px;
                opacity: 0;
            }
            &-enter-active,
            &-leave-active {
                transition: all .1s ease;
            }
            &-enter-to,
            &-leave {
                opacity: 1;
                height: 200px;
            }
        }
    }
}