.ui-list {
  display: block;
  padding: 8px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  &__item {
    display: flex;
    justify-content: flex-start;
    // align-content: space-between;
    align-items: center;
    color: $color-text;
    font-size: 16px;
    line-height: 1;
    padding: 13px;
  }
  &__icon {
    font-size: 20px;
    padding-right: 16px;
    font-weight: 600;
  }
  &__action {
    font-size: 20px;
    padding-left: 16px;
  }
  &__caption {
    flex-grow: 1;
    font-size: 14px;
    line-height: 20px;
  }
}
