.wg-card-photo {
    overflow: hidden;
    &__header {
        height: 60px;
        padding: 10px 0;
        position: relative;
        &-button {
            position: absolute;
            right: 0px;
            left: auto;
            top: 15px;
        }
    }
    &__link {
        height: 100%;
        width: auto;
        font-size: 18px;
        font-weight: 600;
        position: relative;
        display: block;
        margin-bottom: 15px;
        margin-top: 5px;
    }
    &__avatar-block {
        margin-left: -5px;
    }
    &__slider {
        margin-bottom: 15px;
        &>.wg-slider__container {
            height: 318px !important;
        }
    }
    &__slider-navig {
        top: -5px;
    }
    &__angel {
        float: right;
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transition: transform .8s ease-in-out;
        line-height: 0px;
        &_transit {
            transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            transition: transform .8s ease-in-out;
        }
    }
    &__menu {
        margin: 0;
        border: 0;
        padding: 0;
        max-height: 250px;
        width: 200px;
        color: $color-text;
        font-size: 14px;
        background-color: $color-fon;
        display: block;
        float: left;
    }
    &__menu-li {
        position: relative;
        border: 0;
        padding: 0px 30px;
        margin: 0;
        list-style-type: none;
        cursor: pointer;
        height: 40px;
        width: auto;
        font-size: 14px;
        line-height: 38px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #202020;
        &:hover {
            background-color: #f3f3f3;
        }
        &_disabled {
            color: $color-disabled;
            cursor: auto;
            &:hover {
                background-color: $color-fon;
            }
        }
    }
    &__description {
        width: 100%;
        margin: 15px 0;
        color: #617179;
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 250px;
        &-enter,
        &-leave-to {
            max-height: 0px;
        }
        &-enter-active,
        &-leave-active {
            transition: max-height 0.5s ease;
        }
        &-enter-to,
        &-leave {
            max-height: 250px;
        }
    }
}

@media (max-width: 770px) {
    .wg-card-ad {
        &__info {
            padding: 0;
        }
    }
}