.wg-card-ad {
    height: auto;
    width: auto;
    overflow: hidden;
    margin: 25px 0;
    &__header {
        height: 60px;
        padding: 10px 0;
        &-button {
            position: absolute;
            right: 9px;
            left: auto;
            top: 51px;
        }
    }
    &__link {
        height: 100%;
        width: auto;
        font-size: 18px;
        font-weight: 600;
        position: relative;
        display: block;
        margin-bottom: 10px;
    }
    &__avatar-block {
        margin-left: -5px;
    }
    &__slider {
        height: 168px !important;
    }
    &__info {
        height: 168px;
        width: auto;
        padding: 0 0 0 15px;
        position: relative;
        &-header {
            height: 30px;
            font-size: 24px;
            color: $color-text-header;
            font-weight: 600;
            color: #617179;
        }
        &-param {
            display: block;
            font-size: 13px;
            overflow: hidden;
            margin: 7px 0 0 0;
            color: #617179;
        }
        &-title {
            float: left;
        }
        &-value {
            float: right;
        }
    }
    &__buttons {
        padding: 0 5px;
    }
    &__menu {
        margin: 0;
        border: 0;
        padding: 0;
        max-height: 250px;
        width: 200px;
        color: $color-text;
        font-size: 14px;
        background-color: $color-fon;
        display: block;
        float: left;
    }
    &__menu-li {
        position: relative;
        border: 0;
        padding: 0px 30px;
        margin: 0;
        list-style-type: none;
        cursor: pointer;
        height: 40px;
        width: auto;
        font-size: 14px;
        line-height: 38px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #202020;
        &:hover {
            background-color: #f3f3f3;
        }
        &_disabled {
            color: $color-disabled;
            cursor: auto;
            &:hover {
                background-color: $color-fon;
            }
        }
    }
}