//глобальные переменные
//цвета
$color-fon: #ffffff;
$color-links: #0e6c9a;
$color-links-pasiv: #afafaf;
// $color-text: #5c5c5c;
$color-text: #617179;
// $color-text-header: #3a3a3a;
$color-text-header: #58676e;

$color-list-hover:rgba(250, 250, 250, 0.95);
$color-list-active: rgba(230, 230, 230, 0.95);

$color-shadow: 0px 2px 4px rgba(100, 124, 137, 0.49);
$color-shadow-active: 0px 2px 8px rgba(100, 124, 137, 0.49);
