.ui-checkbox {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    height: 36px;
    width: 36px;
    &:hover {
        cursor: pointer;
    }
    &__input {
        position: absolute;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        opacity: 0;
        -ms-appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none;
    }
    &__check {
        border: 2px solid $color-text;
        height: 15px;
        width: 15px;
        display: block;
        float: left;
        font-size: 15px;
        color: $color-fon;
        background-color: $color-fon;
        line-height: 0px;
        transition-duration: 500ms;
        margin-top: 5px;
        margin-left: 8px;
        &_checked {
            border: 2px solid $color-links;
            background-color: $color-links;
            transition-duration: 1100ms;
        }
        &_disabled {
            border: 2px solid $color-disabled;
            background-color: $color-fon;
            cursor: auto;
            &_checked {
                border: 2px solid $color-disabled;
                background-color: $color-disabled;
                cursor: auto;
            }
        }
    }
    &__caption {
        font-size: 16px;
        color: $color-text;
        z-index: 10;
        position: absolute;
        margin-top: -12px;
        padding: 0px 0px 0px 32px;
        width: 100%;
        line-height: 51px;
        margin-left: -19px;
        white-space: nowrap;
        &_disabled {
            color: $color-disabled;
        }
    }
}