.ui-tabs {
    position: relative;
    height: auto;
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
    &__line {
        width: 2000%;
        height: auto;
        overflow: hidden;
    }
    &__icone {
        position: relative;
        width: 100%;
        height: 30px;
        font-size: 24px;
        text-align: center;
        margin-bottom: 8px;
    }
    &__button {
        position: absolute;
        height: 100%;
        background-color: rgba(214, 214, 214, 0.1);
        width: 60px;
        z-index: 10;
        text-align: center;
        font-size: 34px;
        color: $color-links;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        &_left {
            left: 0;
        }
        &_right {
            right: 0;
        }
        &:hover {
            background-color: $color-list-active;
        }
    }
    &__tab {
        color: $color-text;
        float: left;
        display: block;
        padding: 20px 30px;
        text-transform: uppercase;
        font-size: $text-size-mini;
        cursor: pointer;
        position: relative;
        transition: margin-left 0.5s ease;
        &:hover {
            background-color: $color-list-hover;
        }
        &:active {
            background-color: $color-list-active;
        }
        &:after {
            content: "";
            height: 3px;
            width: 0%;
            background-color: $color-links;
            position: absolute;
            bottom: 0px;
            left: 0px;
            transition: width 0.5s ease;
        }
        &_active {
            color: $color-links;
            &:after {
                content: "";
                height: 3px;
                width: 100%;
                background-color: $color-links;
                position: absolute;
                bottom: 0px;
                left: 0px;
                transition: width 0.5s ease;
            }
        }
    }
}