.ui-avatar-block {
    height: 60px;
    font-size: $text-size-mini;
    &__title {
        position: absolute;
        height: 25px;
        left: 77px;
        top: 22px;
        font-weight: 600;
        color: $color-text-header;

    }
    &__link {
        position: absolute;
        height: 25px;
        left: 77px;
        top: 46px;
        color: $color-links;
    }
}