.ui-link {
    color: $color-links;
    cursor: pointer;
    a {
        color: $color-links;
        text-decoration: none;
        &:active {
            color: $color-links;
            text-decoration: none;
        }
        &:visited {
            color: $color-links;
            text-decoration: none;
        }
    }
}
