//убираем стили по умолчанию
select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

//глобальные переменные
//цвета
$color-fon: #ffffff;
// $color-links: #0e6c9a;
// $color-links: #29a9e9;
$color-links: #2495ce;
$color-disabled: #adadad;
// $color-text: #5c5c5c;
$color-description: #525252;
$color-text: rgb(43, 43, 43);
// $color-text-header: #3a3a3a;
$color-text-header: #333;
$color-list-hover: rgba(214, 214, 214, 0.35); //rgba(247, 247, 247, 1);
$color-list-active: rgba(214, 214, 214, 0.55); //rgba(233, 233, 233, 1);
$color-shadow: 0px 2px 4px rgba(100, 124, 137, 0.49);
$color-shadow-active: 0px 2px 8px rgba(100, 124, 137, 0.49);
//размеры
$text-size: 15px;
$text-size-big: 17px;
$text-size-mini: 13px;
